/*created by szatpig on 2017/9/20*/
.forget-container{
  height: 100%;
  background-color: $color-f5f5f5;
  position: relative;
  overflow: hidden;
  .common-input{
    background-color: #fff;
    box-sizing: border-box;
    height: 90px;
    border-right: 2px solid $color-e8e8e8;
    border-bottom: 2px solid $color-e8e8e8;
    border-left: 2px solid $color-e8e8e8;
    padding: 0 45px;
    overflow: hidden;
    &:first-child{
      border-top: 2px solid $color-e8e8e8;
    }
    label{
      font-size: 30px;
      color: #3c3c3c;
    }
    input{
      background-color: #fff;
      border: none;
      line-height: 88px;
      padding-left: 40px;
      padding-right: 10px;
      font-size: 30px;
      color: #333;
    }
    input::-webkit-input-placeholder{
      font-size: 26px;
      color: #ccc;
    }
    .reset-code{
      width:55%;
    }
    button{
      height: 60px;
      line-height: 60px;
      border-radius: 3px;
      background-color: #ff970f;
      border: 0;
      color: #fff;
      text-align: center;
      font-size: 24px;
      padding: 0 15px;
    }
  }
  .identify-container{
    padding-top: 24px;
    .account-form{
      background-color: #fff;
    }
    .identify-btns{
      padding: 0 45px;
      button{
        @extend .common-button;
        margin-top: 70px;
      }
    }
  }
  .reset-container{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 24px;
    -webkit-overflow-scrolling: touch;
    background: $color-f5f5f5;
    transition: transform 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: -webkit-transform 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translate3d(750px, 0, 0);
    -webkit-transform: translate3d(750px, 0, 0);
    visibility: hidden;
    &.active{
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      z-index: 8;
      visibility: visible;
    }
    .reset-btns{
      padding: 0 45px;
      button{
        @extend .common-button;
        margin-top: 70px;
      }
    }
  }
}
