/*created by szatpig on 2017/8/24*/
/*公共样式 */
$color-ff414a:#ff414a;
$color-41ce58:#41ce58;/*绿色*/
$color-ff6f33:#ff6f33;/*橙色*/
$color-ff3443:#ff3443;/*红色*/
$color-ffac00:#ffac00;
$color-e8e8e8:#e8e8e8;/*线条颜色*/
$color-f5f5f5:#f5f5f5;/*背景颜色*/

/*
@function px2rem($px, $base-font-size: 75px) {
  @return ($px / $base-font-size) * 1rem;
}

*/

.common-button{
  line-height: 90px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  width:100%;
  margin-top:20px;
  border:none;
  background-color: $color-ff6f33;
  border-radius: 8px;
  &:disabled{
    background-color: #cacaca;
    color: #919191;
  }
}
.common-input{

}

.mark{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: rgba(0,0,0,0.6);
  display: none;
  z-index: 10;
}
.dialog{
  position: fixed;
  top:50%;
  left:50%;
  width:550px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  display: none;
  z-index: 11;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);

  .close-btn{
    display: block;
    position: absolute;
    left: 50%;
    top: 115%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width:45px;
    height: 45px;
    background: url("../images/common/close.png") center center no-repeat;
    background-size: contain;
  }
}

.text-red{
  color: $color-ff3443;
}
.txt-orange{
  color: $color-ff6f33;
}
.txt-fr{
  float: right;
}
.txt-left{
  text-align: left !important;
}
.txt-right{
  text-align: right !important;
}
input[type=text],input[type=password]{
  border-radius: 0;
}

/*tips */
.tips{
  position: fixed;
  top: 50%;
  left: 50%;
  height: 70px;
  line-height: 70px;
  background: rgba(0,0,0,0.65);
  color: #fff;
  font-size: 26px;
  text-align: center;
  border-radius: 70px;
  z-index: 20;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
